---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import D from "../components/SectionD.astro";
import Carrusel from "../components/Carrusel.astro";
import SectionContainer from "../components/SectionContainer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] dark:bg-neutral-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  >
    <Header class="" />
    <main>
      <SectionContainer>
        <Hero />
      </SectionContainer>
      <SectionContainer>
        <!-- <script type="text/javascript">
          atOptions = {
            key: "8e1d4c93e6933f119ba6d09b06ef0008",
            format: "iframe",
            height: 50,
            width: 320,
            params: {},
          };
        </script>
        <script
          type="text/javascript"
          src="//www.highperformanceformat.com/8e1d4c93e6933f119ba6d09b06ef0008/invoke.js"
        ></script> -->
        <Carrusel />
      </SectionContainer>
      <SectionContainer class="my-28">
        <D />
      </SectionContainer>
    </main>
    <Footer />
    <!-- <script
      type="text/javascript"
      src="//pl25648634.profitablecpmrate.com/fb/93/35/fb93354fb409b76cfcc431d17dcfb960.js"
    ></script> -->
  </body>
</html>
