---
import Instagram from "./icon/Instagram.astro";
import Youtube from "./icon/Youtube.astro";

const today = new Date();
---

<footer class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-8 mx-auto">
    <div class="flex flex-col items-center text-center">
      <a href="/"><img src="/logo.png" class="h-8" alt="" /></a>

      <div class="flex flex-col flex-wrap justify-center mt-6">
        <div class="">
          <a
            href="/courses"
            class="mx-4 text-sm text-gray-600 transition-colors duration-300 hover:text-purple-700 dark:text-gray-300 dark:hover:text-purple-600"
            aria-label="Cursos"
          >
            Cursos
          </a>

          <a
            href="/blog"
            class="mx-4 text-sm text-gray-600 transition-colors duration-300 hover:text-purple-700 dark:text-gray-300 dark:hover:text-purple-600"
            aria-label="Blog"
          >
            Blog
          </a>
          <a
            href="/sobre-nosotros"
            class="mx-4 text-sm text-gray-600 transition-colors duration-300 hover:text-purple-700 dark:text-gray-300 dark:hover:text-purple-600"
            aria-label="Sobre Nosotros"
          >
            Sobre Nosotros
          </a>
          <a
            href="/contacto"
            class="mx-4 text-sm text-gray-600 transition-colors duration-300 hover:text-purple-700 dark:text-gray-300 dark:hover:text-purple-600"
            aria-label="contacto"
          >
            Contacto
          </a>
        </div>
        <div>
          <a
            href="/politica-de-privacidad"
            class="mx-4 text-sm text-gray-600 transition-colors duration-300 hover:text-purple-700 dark:text-gray-300 dark:hover:text-purple-600"
            aria-label="Reddit"
          >
            Política de privacidad
          </a>

          <a
            href="/politica-de-cookies"
            class="mx-4 text-sm text-gray-600 transition-colors duration-300 hover:text-purple-700 dark:text-gray-300 dark:hover:text-purple-600"
            aria-label="Reddit"
          >
            Política de Cookies
          </a>
          <a
            href="/aviso-legal"
            class="mx-4 text-sm text-gray-600 transition-colors duration-300 hover:text-purple-700 dark:text-gray-300 dark:hover:text-purple-600"
            aria-label="Reddit"
          >
            Aviso Legal
          </a>
        </div>
      </div>
    </div>

    <hr class="my-6 border-gray-200 md:my-10 dark:border-gray-700" />

    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
      <p class="text-sm text-gray-500 dark:text-gray-300">
        © Copyright {today.getFullYear()}. Cursos Review
      </p>

      <div class="flex gap-2">
        <a
          href="https://www.instagram.com/cursosreview_oficial1/"
          target="_blank"
        >
          <Instagram class="dark:text-gray-200" />
        </a>
        <a
          href="https://www.youtube.com/channel/UCmmqv0DG_9pX2nmZiQ1xu6w/"
          target="_blank"
        >
          <Youtube class="dark:text-gray-200" />
        </a>
      </div>
    </div>
  </div>
</footer>
