---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  class:list={[className, { "dark:bg-gray-700 bg-gray-300": isActive }]}
  {...props}
>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  /* a.active {
		font-weight: bolder;
		text-decoration: underline;
	} */

  /* a.active {
    background-color: rgb(243 244 246 / 1);
  } */
</style>
