---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeIcon from "../components/ThemeIcon.astro";
const { class: className, id } = Astro.props;
---

<header class={`${className}`}>
  <nav
    class={`grid grid-cols-2 md:grid-cols-3 p-2 w-full max-w-screen-xl mx-auto `}
  >
    <div
      class="col-span-2 mb-2 md:mb-0 md:col-auto flex justify-center md:justify-start"
    >
      <a href="/"><img src="/logo.png" class="h-8" alt="" /></a>
    </div>
    <div class="internal-links col-span-2 flex justify-center">
      <div class="md:basis-1/2 flex justify-center">
        <HeaderLink
          class="px-2.5 py-1 text-gray-700 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700 md:mx-2"
          href="/">Inicio</HeaderLink
        >
        <HeaderLink
          class="px-2.5 py-1 text-gray-700 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700 md:mx-2"
          href="/courses">Cursos</HeaderLink
        >
        <HeaderLink
          class="px-2.5 py-1 text-gray-700 transition-colors duration-300 transform rounded-lg dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700 md:mx-2"
          href="/blog">Blog</HeaderLink
        >
      </div>
      <div class="md:basis-1/2 flex justify-end">
        <ThemeIcon />
      </div>
    </div>
  </nav>
</header>
