---
import { getCollection } from "astro:content";
import CardCourse from "../components/CardCourse.astro";
const posts = (await getCollection("courses")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<div class="px-6 pt-16 mx-auto text-center">
  <div class="max-w-lg mx-auto pt-6">
    <h1
      class="text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl"
    >
      Descubre los mejores Cursos Online. <span
        class="bg-gradient-to-r from-indigo-400 to-pink-600 bg-clip-text text-transparent"
      >
        Análisis , Opiniones y Recomendaciones
      </span>
    </h1>
    <p class="mt-6 text-gray-500 dark:text-gray-300">
      Tu Guía para elegir el mejor curso online. Con la posivilidad de optener
      descuentos.
    </p>
    <div class="mt-6">
      <a
        href="/courses"
        class="inline-flex mt-4 items-center justify-center w-full px-4 text-sm py-2.5 overflow-hidden text-white transition-colors duration-300 bg-purple-800 rounded-lg shadow sm:w-auto sm:mx-2 sm:mt-0 hover:bg-purple-600 focus:ring focus:ring-blue-300 focus:ring-opacity-80"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-player-play"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M7 4v16l13 -8z"></path></svg
        >

        <span class="mx-2"> Comenzar </span>
      </a>
    </div>
  </div>

  <div class="flex justify-center mt-10">
    <img
      class="object-contain w-full h-96 rounded-xl lg:w-4/5"
      src="/hero.png"
    />
  </div>
</div>
