---
import { getCollection } from "astro:content";
import CardCourse from "../components/CardCourse.astro";
const posts = (await getCollection("courses")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<div class="px-6 pt-16 mx-auto text-center">
  <div class="max-w-lg mx-auto pt-6">
    <h1
      class="text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl"
    >
      Descubre los mejores Cursos Online. <span
        class="bg-gradient-to-r from-indigo-400 to-pink-600 bg-clip-text text-transparent"
      >
        Análisis , Opiniones y Recomendaciones
      </span>
      <!-- <span class="relative mt-3 whitespace-nowrap text-blue-600"
        ><svg
          aria-hidden="true"
          viewBox="0 0 418 42"
          class="absolute top-3/4 left-0 right-0 m-auto h-[0.58em] w-fit fill-pink-400/50"
          preserveAspectRatio="none"
        >
          <path
            d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"
          >
          </path>
        </svg>
        <span class="relative"></span>
      </span> -->
    </h1>
    <p class="mt-6 text-gray-500 dark:text-gray-300">
      Tu Guía para elegir el mejor curso online. Con la posivilidad de optener
      descuentos.
    </p>
    <!-- <button
      class="px-5 py-2 mt-6 text-sm font-medium leading-5 text-center text-white capitalize bg-purple-800 rounded-lg hover:bg-purple-600 lg:mx-0 lg:w-auto focus:outline-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-player-play"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M7 4v16l13 -8z"></path></svg
      >
      Start 14-Day free trial
    </button> -->
    <div class="mt-6">
      <a
        href="/courses"
        class="inline-flex mt-4 items-center justify-center w-full px-4 text-sm py-2.5 overflow-hidden text-white transition-colors duration-300 bg-purple-800 rounded-lg shadow sm:w-auto sm:mx-2 sm:mt-0 hover:bg-purple-600 focus:ring focus:ring-blue-300 focus:ring-opacity-80"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-player-play"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M7 4v16l13 -8z"></path></svg
        >

        <span class="mx-2"> Comenzar </span>
      </a>
    </div>
  </div>

  <div class="flex justify-center mt-10">
    <img
      class="object-contain w-full h-96 rounded-xl lg:w-4/5"
      src="/hero.png"
    />
  </div>
  <!-- <div class="grid grid-flow-col grid-rows-2 grid-cols-3 gap-8">
    {
      posts.map((post) => (
        <div class="transform scale-110 -rotate-6">
          <a href={`/courses/${post.slug}/`}>
            <CardCourse {...post.data} />
          </a>
        </div>
      ))
    }
  </div> -->
  <!--  <div class="transform scale-110 -rotate-6">
      <img
        src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"
        alt=""
        loading="lazy"
      />
    </div>
    <div
      class="col-start-3 transform scale-75 rotate-6 translate-x-2 translate-y-15"
    >
      <img
        src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="transform scale-150 translate-y-11">
      <img
        src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="transform translate-y-24">
      <img
        src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"
        alt=""
        loading="lazy"
      />
    </div>
    <div
      class="row-start-1 col-start-2 col-span-2 transform translate-x-20 translate-y-4"
    >
      <img
        src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"
        alt=""
        loading="lazy"
      />
    </div>
  </div> -->
</div>
